html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 80% 20%;
  /* padding: 16px; */
}

canvas {
  width: 100%;
  height: 100%;
  /* margin: 16px; */
}

#menu {
  border: 1px solid grey;
}